<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h1>Write your name, age, and a message!</h1>
<br>

<!-- Create your form here!
 -->
 <form action="/" method="POST">

	<input type="text" placeholder="Your Quote Here", name="quote">
	<input type="text" placeholder="Your Name Here", name="name">
	<input type="text" placeholder="Your Age Here", name="age">

	<input type="submit" name="submit" href="{{url_for()}}">

 </form>
 
</body>
</html>